<aside class="editor-sidebar flex flex-col h-dvh overflow-x-hidden overflow-y-auto sticky top-0 w-[450px]">
  <app-file-handler class="m-2" />

  <span class="mx-2 mt-4" [attr.title]="!decodedData() ? 'Load a file to activate exporting' : null">
    <button
      class="border-white rounded-full disabled:opacity-30 border-2 text-white px-4 py-2 w-full hover:bg-white hover:text-black disabled:pointer-events-none font-bold"
      [disabled]="!decodedData()"
      (click)="save()"
    >
      export
    </button>
  </span>

  @if (decodedData()) {
  <hr class="m-4" />
  <h2 class="text-white text-xl font-bold m-2">Configurations</h2>
  <a
    class="mx-2 rounded-3xl block p-4 bg-beige font-bold group"
    routerLinkActive="!bg-active text-active-dark"
    routerLink="world"
    >World</a
  >
  <hr class="m-4" />
  <app-players-list />
  }
</aside>
<main class="flex flex-col w-full min-h-dvh">
  @let data = decodedData() ; @if (status() === 'NOT_STARTED') {
  <ci-ui-card class="m-8">
    <h3 class="mb-2">Welcome to coral island save game editor!</h3>
    <p>Select a file at the top left corner to start editing your save game.</p>
    <p>
      Steam save games can be found at the following location (windows): %LOCALAPPDATA%\ProjectCoral\Saved\SaveGames
    </p>
  </ci-ui-card>
  } @else if (status() === 'EXPORTING' || status() === 'SUCCESS' || (status() === 'PROCESSING' && !!data)) {
  <router-outlet />
  } @else if (status() === 'PROCESSING' && !data) {
  <ci-ui-card class="m-8">
    <h3 class="mb-2">Processing</h3>
    <p>Processing, this may take some minutes.</p>
  </ci-ui-card>
  } @else if (status() === 'ERROR') {
  <ci-ui-card class="m-8">
    <h3 class="mb-2">Error</h3>
    <p>There was an error loading your save game. Please try again.</p>
  </ci-ui-card>

  }
</main>
